<p>#SHORT DESCRIPTION#</p>
min. pembelian Rp. 100.000 melalui Buka DANA
<br/>
min. purchase Rp. 100.000 via Buka DANA

<p>#LONG DESC #</p>
<p>Selamat, Anda mendapatkan promo Bukalapak berupa Buka DANA voucher Rp. 30.000 yang hanya bisa digunakan untuk di Bukalapak.<br />Lihat syarat &amp; ketentuan untuk keterangan lebih lanjut</p>
<p>Congratulations, you get promo Bukalapak which is DANA voucher Rp. 30.000 which can only be used in Bukalapak.<br />Check terms &amp; conditions for more details.</p>

<p>#TERM AND CONDITION#</p>
<ul>
<li>Aktifkan Buka DANA di Bukalapak</li>
<li>Pilih barang yang akan kamu beli</li>
<li>Pilih Buka DANA sebagai metode pembayaran</li>
<li>Voucher akan otomatis memotong harga total produk</li>
<li>Klik bayar</li>
<li>Selesai</li>
</ul>
<ul>
<li>Activate Buka DANA in Bukalapak</li>
<li>Choose products you want to buy</li>
<li>Select a Buka DANA as a payment method</li>
<li>Voucher will automatically cut the total price of products.</li>
<li>Click pay</li>
<li>Done</li>
</ul>

<p>#HOW TO REDEEM#</p>
<ul>
<li>Pengguna terpilih akan menerima Buka DANA Voucher sebesar Rp. 30.000 dan hanya bisa digunakan dalam <strong>sekali pemakaian</strong> di Bukalapak.</li>
<li>Buka DANA Voucher akan otomatis dikirimkan ke dalam akun DANA dan hanya bisa digunakan di perangkat mobile.</li>
<li>Buka DANA Voucher hanya bisa digunakan di Bukalapak.</li>
<li>Buka DANA Voucher akan otomatis memotong harga total produk yang akan dibeli.</li>
<li>Minimum pembelian Rp. 100.000 atau Buka DANA Voucher tidak dapat digunakan.</li>
<li>Apabila terjadi refund pada proses transaksi, maka Voucher tidak dapat dikembalikan baik dalam bentuk Voucher maupun uang.</li>
<li>Promo ini hanya dapat digunakan di perangkat mobile/Smartphone.</li>
<li>Voucher DANA ini berlaku hingga 14 hari setelah voucher diterbitkan.&nbsp;DANA berhak, tanpa pemberitahuan sebelumnya, melakukan tindakan-tindakan yang diperlukan apabila diduga adanya tindakan kecurangan atau abusive dari pengguna.</li>
<li>DANA berhak untuk meminta identitas KTP dan Foto jika diperlukan untuk verifikasi.</li>
<li>Syarat dan ketentuan dari promo ini dapat berubah sewaktu &ndash; waktu tanpa pemberitahuan sebelumnya.</li>
</ul>

<ul>
<li>All selected DANA users will receive a Buka DANA Voucher of Rp. 30.000 which <b>can only be used once</b> in Bukalapak.</li>
<li>This voucher will automatically send to Buka DANA account and can be only used on the mobile device.</li>
<li>Buka DANA Voucher only can be used on Bukalapak.</li>
<li>Buka DANA Voucher will automatically deduct the total price of the product(s) in your order. Minimum order is Rp. 100.000 or the voucher cannot be used.</li>
<li>In the case of refund of transaction that had previously been completed using DANA voucher, there will be no replacement of voucher in any form.</li>
<li>This promo can be used only on Mobile Device/Smartphone.</li>
<li>The DANA voucher is valid until 14 days after voucher issued.</li>
<li>DANA is entitled to, without any notice, make any necessary action to a user that has an indication of practicing fraudulent or abusive behavior to get the promo.</li>
<li>DANA has the right to request users to produce KTP (national ID card) information and photo if necessary for user verification purposes.</li>
<li>This Term and Conditions can be changed or modify by DANA at any time without any prior notice.</li>
</ul>